<div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
        <div class="card card-6">
            <div class="card-heading">
                <h2 class="title">Restablecer Contraseña</h2>
            </div>
            <div class="card-body">
                <form method="POST">
                    <div class="form-row">
                        <div class="name">Contraseña</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="password" name="Contrasena" [(ngModel)]="contra"  placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="name">Confirmar Contraseña</div>
                        <div class="value">
                            <div class="input-group">
                                <input class="input--style-6" type="password" placeholder="Password" name="contrasena2" [(ngModel)]="pass">
                            </div>
                        </div>
                    </div>                 
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn--radius-2 btn--blue-2" type="submit" (click)="validateData()" >Crear</button>
            </div>
        </div>
    </div>
</div>
